/* Normal desktop :1500px. */
@media (min-width: 1500px) and (max-width: 1700px){
 .top-slider-icon {
    display: none;
}
.slider-banner-shape-2 {
    left: 180px;
}
.slider3 .slider-banner-shape {

   left: 158px;
}
.row.padding-left {
    padding: 0 0 0 195px;
}
.portfolio-number {
    top: 95px;
}
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1499px) {
.top-slider-icon {
    display: none;
}
.slider-banner-shape-2 {
    left: 50px;
}
.style-two .portfolio-top-title h3 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-top: -8px;
}
.slider3 .slider-banner-shape {
    left: 72px;
}
.portfolio-number {
    top: 116px;
}
.search-box-btn {
    margin-right: 370px;
}
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

.techno_menu > ul > li > a {
    margin: 24px 7px;
    font-size: 16px;
}
.sticky .techno_menu > ul > li > a {
    margin: 30px 8px;
    font-size: 16px;
}
nav.techno_menu {
    text-align: left !important;
}
.techno_nav_manu:before {
    width: 240px;
}
.slider-top-text p {
    font-size: 0px;
}
.slider3 .slider-banner-shape {
    left: 2px;
}
.slider-banner-shape img {
    width: 88%;
}
.slider-content h1 {
    font-size: 32px;
    line-height: 1;
}
.dreamit-section-title h1 {
    font-size: 35px;
    line-height: 1;
}
.search-box-btn {
    margin-right: 129px;
    margin-top: 28px;
}
.nav-btn.navSidebar-button {
    margin: -40px -140px 0;
}
.slider-socail-icon {
    display: none;
}
.post-categories {
    margin-top: -231px;
}
.slider-banner-shape-2 {
    left: 0;
}
.slider-socail-icon2 a {
    margin: 25px 0 0 -71px;
}
.techno-about-thumb img {
    width: 100%;
}
.nav-link {
    padding: 0 48px 14px 0;
}
.dreamit-department-bottom-content-inner span {
    font-size: 12px;
}
.single_portfolio_content {
    padding: 0 20px;
    clip-path: none;
}
.single_portfolio_box:hover .single_portfolio_content {
    opacity: 1;
    margin-top: -131px;
}
.portfolio-title h3 {
    font-size: 18px;
}
.slider-socail-icon {
    left: 2px;
}
.slider-socail-icon2 a {
    margin: 25px 87px 0 -75px;
}
.style-three .techno-service-title h2 {
    font-size: 20px;
}
.style-three .techno-service-title p {
    font-size: 13px;
}
.row.padding-left {
    padding: 0 0 0 0px;
}
.single-project-content {
    padding: 8px 21px 10px;
}
.project-title h2 {
    font-size: 18px;
}
.project-title h6 {
    font-size: 10px;
    letter-spacing: 0px;
}
.project-text p {
    font-size: 11px;
}
.single-project-box:hover .project-button {
    padding: 142px 0 0;
}
.project-button a {
    font-size: 13px;
    letter-spacing: 1px;
}
.dreamit-section-title-4 h1:before {
    left: 305px;
}
.upper.dreamit-section-title-4 h1:before {
    left: 303px;
}

}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.techno_nav_manu {
    display: none;
}    
.techno-about-thumb img {
    width: 100%;
}
.style-two .techno-about-icon-box p {
    font-size: 14px;
    padding: 12px 20px 9px 15px;
    margin: 16px 0 0 78px;
}
.style-two .about-icon {
    margin-top: 15px;
    margin-left: 0px;
}
.style-two .about-icon i {
    font-size: 35px;
    height: 78px;
    width: 78px;
    line-height: 78px;
}
.about-icon i {
    font-size: 35px;
    height: 68px;
    width: 78px;
    line-height: 78px;
}
.nav-link {
    display: inline-block;
    padding: 0 23px 14px 0;
    margin-right: 20px;
}
.about-icon {
    margin-top: 41px;
    margin-left: -43px;
}
.techno-about-icon-box p {
    font-size: 10px;
    padding: 10px 20px 0px 15px;
    margin: 43px 0 0 33px;
}
.dreamit-section-title h1 {
    font-size: 32px;
    line-height: 1;
}
.style-two .portfolio-top-title h3 {
    font-size: 20px;
}
.portfolio-title h3 {
    font-size: 16px;
}
.style-two .portfolio-title p {
    font-size: 11px;
}
.blog_page_title p {
    font-size: 14px;
}
.style-two .subscribe-title h1 {
    font-size: 25px;
    font-weight: 600;
    color: #272727;
}
.from-box button {
    right: 7px;
    padding: 17px 22px;
    font-size: 14px;
}
.owl-carousel {
    display: inline-block !important;
}
.slider-content h1 {
    font-size: 35px;
    line-height: 35px;
}
.slider-socail-icon2 a {
    margin: 25px 0 0 -66px;
}
.slider-banner-shape-2 {
    left: 0;
}
.slider-content p {
    margin: 18px 0 30px;
    width: 100%;
}
.slider-banner-shape {
    display: none;
}
.rs-video1 {
    left: -178%;
}
.dreamit-department-bottom-content-inner ul li i {
    display: block;
    font-size: 16px;
}
.dreamit-department-bottom-content-inner span {
    font-size: 14px;
}
.portfolio_menu ul li {
    font-size: 11px;
}
.single_portfolio_box:hover .single_portfolio_content {
    opacity: 1;
    margin-top: -233px;
}
.portfolio-number {
    top: 108px;
}
.counter-text {
    float: inherit;
    text-align: center;
    margin-top: -12px;
}
.techno-single-counter-box {
    text-align: center;
}
.counter-title h4 {
    font-size: 17px;
}
.rs-video {
    top: -40%;
}
.subscribe-title h1 {
    font-size: 28px;
}
.slider4 .slider-content-inner h1 {
    font-size: 62px;
}
.slider4 .slider-content-inner h3 {
    font-size: 46px;
}
.slider4 .slider-content-inner p {
    width: 100%;
}
.row.padding-left {
    padding: 0 0 0 0px;
}
.slider3 .slider-content h1 {
    font-size: 50px;
    line-height: 45px;
}
.slider-socail-icon {
    left: 0;
}
.upper.dreamit-section-title-4 h1:before {
    left: 187px;
}
p.text-cler {
    color: #cccccc;
    font-size: 14px;
}

}

/* Large Mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {
.header-top-area {
    display: none;
}
.techno_nav_manu {
    display: none;
}
.dreamit-servcie-box {
    text-align: center;
    margin-bottom: 30px;
}
.style-two .techno-sinlge-service-box {
    text-align: center;
}
.techno-single-counter-box {
    text-align: center;
}
.counter-text {
    float: inherit;
}
.dreamit-section-title h1 {
    font-size: 30px;
    text-align: center;
}
.style-two .portfolio-top-title h3 {
    font-size: 20px;
}
.portfolio-title h3 {
    font-size: 18px;
}
.dreamit-section-title h1 {
    font-size: 22px;
}
.dreamit-section-title h4 {
    font-size: 13px;
    text-align: center;
}
.pt-5, .py-5 {
    padding-top: 0;
}
.blog-button a {
    font-size: 13px;
    padding: 15px 29px;
}
.post-categories {
    margin-top: -393px;
}
.style-two .subscribe-title h1 {
    font-size: 30px;
}
.widget-widgets-company-info {
    text-align: center;
}
.style-two h4.widget-title {
    text-align: center;
}
ul.menu {
    text-align: center;
}
.footer-socail-info {
    text-align: center;
}
.footer-socail-icon {
    float: inherit;
    text-align: center;
}
.style-two .footer-bottom-content-copy p {
    text-align: center;
}
.footer-bottom-menu {
    float: inherit;
    text-align: center;
}
.owl-carousel {
    display: inline-block !important;
}
.slider-content h1 {
    font-size: 35px;
    line-height: 35px;
}
.slider-banner-shape-2 {
    left: 0;
}
.slider-socail-icon2 a {
    margin: 25px 0 0 -64px;
}
.slider-banner-shape {
    display: none;
}
.rs-video1 {
    left: -172%;
}
.techno-service-content {
    padding: 4px 55px 1px;
}
.nav-link {
    display: inline-block;
    padding: 0px 72px 14px 0;
    margin-right: 24px;
}
.tab-content-text p {
    margin-top: 30px;
}
.portfolio-title p {
    padding: 15px 0 29px;
}
.portfolio-number {
    top: 326px;
}
.skill-button a {
    margin-bottom: 30px;
}
h4.widget-title {
    text-align: center !important;
}
.slider4 .slider-content-inner h1 {
    font-size: 62px;
}
.slider4 .slider-content-inner p {
    width: 85%;
}
.row.padding-left {
    padding: 0 0 0 0px;
    text-align: center !important;
}
.mt-5, .my-5 {
    margin-top: 0 !important;
}
.project-button2 a {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
}
.pricing-title h3 {
    left: 217px;
}
.slider3 .slider-content h1 {
    font-size: 58px;
    line-height: 50px;
}
.slider-socail-icon {
    left: 0;
}
.slider-content p {
    width: 86%;
}
.single-project-box:after {
    width: 58%;
}
.single-project-box:before {
    left: 0;
}
.project-title h6:before {
    left: 119px;
}
.project-text p {
    padding: 0 83px 0;
}

}
/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 599px) {
.header-top-area {
    display: none;
}
.techno_nav_manu {
    display: none;
} 
.style-two .techno-about-icon-box {
    padding: 48px 0 0;
}
.about-icon i {
    font-size: 30px;
    height: 70px;
    width: 70px;
    line-height: 70px;
}
.about-icon {
    float: left;
}
.style-two .techno-about-icon-box p {
    font-size: 11px;
    padding: 0px 25px 16px 86px;
}
.techno-about-icon-box {
    padding: 48px 0 0 0;
    margin-left: -26px;
}
.techno-about-icon-box p {
    font-size: 9px;
    padding: 0px 20px 16px 76px;
}
.dreamit-section-title h1 {
    font-size: 22px;
    line-height: 1;
    text-align: center;
}
.dreamit-section-title h4 {
    font-size: 13px;
    text-align: center;
}
p.about-text1 {
    padding: 25px 0 40px;
}
.about-button {
    text-align: center;
}
.about-button a {
    font-size: 11px;
    padding: 16px 35px;
    letter-spacing: 1px;
}
.service-box-title h1 {
    font-size: 120px;
}
.service-text {
    text-align: center;
}
.service-button1 a {
    font-size: 13px;
    padding: 10px 35px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    margin-top: 42px;
}
.service-button1 {
    text-align: center;
}
.style-two .techno-sinlge-service-box {
    text-align: center;
}
.counter-text {
    float: inherit;
    text-align: center;
}
.counter-title {
    text-align: center;
}
.counter-title h4 {
    font-size: 16px;
}
.style-two .portfolio_menu ul li {
    font-size: 13px;
}
.style-two .portfolio-top-title h3 {
    font-size: 20px;
}
.testimonial-title p {
    padding: 0px 0 0;
    font-size: 10px;
}
.testimonial-text p {
    font-size: 14px;
}
.post-categories {
    margin-top: -225px;
}
.style-two .subscribe-title h1 {
    font-size: 23px;
}
.from-box button {
    padding: 16px 20px;
    font-size: 13px;
    letter-spacing: 2px;
}
.widget-widgets-company-info {
    text-align: center;
}
.style-two h4.widget-title {
    text-align: center;
}
.menu-quick-link-content {
    text-align: center;
}
ul.menu li {
    text-align: center;
}
.footer-socail-info {
    text-align: center;
}
.footer-socail-icon {
    float: inherit;
    text-align: center;
}
.style-two .footer-bottom-content-copy p {
    text-align: center;
}
.footer-bottom-menu {
    float: inherit;
    text-align: center;
}
.service-box-title {
    text-align: center;
}
.owl-carousel {
    display: inline-block !important;
}
.slider-content h1 {
    font-size: 30px;
    line-height: 27px;
}
.slider-banner-shape {
    display: none;
}
.slider-socail-icon2 a {
    margin: 25px 0 0 -79px;
}
.slider-content p {
    width: 100%;
    font-size: 14px;
}
.rs-video1 {
    left: -146%;
}
.text-left {
    text-align: center!important;
}
.nav-link {
    padding: 0 58px 14px 0;
    margin-right: 16px;
    margin-bottom: 30px;
}
.tab-content-text p {
    font-size: 13px;
    margin-top: 30px;
    text-align: center;
}
.portfolio_menu ul li {
    font-size: 11px;
}
.portfolio-number {
    display: none;
}
.counter-text h1 {
    font-size: 55px;
}
.skill-button a {
    margin-bottom: 35px;
}
.prossess-ber-plugin span {
    font-size: 16px;
}
.blog_page_title p {
    font-size: 15px;
}
.subscribe-title h1 {
    font-size: 24px;
}
h4.widget-title {
    text-align: center !important;
}
.blog-button a {
    font-size: 13px;
    padding: 11px 32px;;
    margin-bottom: 30px;
    display: inline-block;
}
.pt-5, .py-5 {
    padding-top: 0 !important;
}
.slider4 .slider-content-inner h3 {
    font-size: 38px;
}
.slider4 .slider-content-inner h1 {
    font-size: 43px;
    line-height: 32px;
}
.slider4 .slider-content-inner p {
    margin: 30px 0 36px;
    width: 100%;
}
.row.padding-left {
    padding: 0 0 0 0px;
}
.single-project-content {
    padding: 8px 35px 10px;
}
.mt-5, .my-5 {
    margin-top: 0 !important;
}
.project-button2 a {
    font-size: 14px;
    padding: 14px 42px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
}
.project-title h2 {
    font-size: 23px;
}
.project-text p {
    font-size: 13px;
}
.single-project-box:hover .project-button {
    padding: 125px 0 0;
}
.project-button a {
    font-size: 14px;
}
.slider3 .slider-content h1 {
    font-size: 45px;
    line-height: 40px;
}
.slider-socail-icon {
    left: -8px;
}
.upper2.dreamit-section-title-2 h1 {
    font-size: 29px;
    padding: 17px 0 28px 9px;
}
.dreamit-section-title-2 h1 {
    font-size: 29px;
}
p.text-cler {
    font-size: 14px;
}
.dreamit-section-title-2 h4:before {
    left: 82px;
}
.project-title h6 {
    font-size: 13px;
    letter-spacing: 1px;
}

}
